.header {
    width: 100vw;
    height: 44px;
    background: rgba(251, 251, 253, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: fixed;
    z-index: 1;
    top: 0;
}

.header-link-item {
    color: #000;
    font-weight: 400;
    display: inline-block;
    line-height: 44px;
    margin: 0 10px;
}
.header-final {
    display: flex;
    align-items: center;
}

.header-final-login,
.header-final-cart {
    margin: 0 10px;
    color: #000;
}
.header-final-image img {
    cursor: pointer;
}

.content {
    width: 100vw;
    height: 1000px;
    background-color: #ccc;
}
.header-info {
    display: flex;
    align-items: center;
    position: absolute;
    margin-right: 50px;
    right: 0;
}
.info-name {
    font-size: 14px;
    font-weight: 400;
}

.info-image {
    width: 30px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
}
